.key {
    border: 2px solid gray;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;;
}

.letter {
    font-size: x-large;
}

@media (max-width:600px){
    .key{
        border: 0;
        width: 30px;
        height: 50px;
    }
    .small_key__size{
        font-size:14px;
    }
}
    