.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    gap: 10px;
}

.row_space {
    margin: 10px 20px;
}

@media (max-width:600px){
.row{
    gap: 6px;
}
.last_row__margin{
    margin-bottom: 20px;
}
}



